body{
	margin: 0;
	padding: 0;
	font-family: arial,sans-serif
}

nav a, footer a{
	display: inline-block;
	line-height: 25px;
	padding: 0 10px;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
	color: #777;
}

#login{
	background-color: #4285f4;
	color: #fff;
	
}

#logo {
	height: 92px;
	width: 272px;
	background-image: url("../images/google-logo-small.png");
	margin: 0 auto;
	transform: translate(0, 160px);
}

#logo-subtext{
	color: #4285f4;
	font: 16px roboto-regular, arial, sans-serif;
	position: relative;
	top: 73px;
	left: 214px;
	
}

#form .searchbar {
	display:block; 
	border: 1px solid #d9d9d9;
	width: 584px;
	height: 38px;
	margin: 0 auto; 
	transform: translate(0, 180px);
}

.buttons{
	display:block;
	width: 300px;
	height: 50px;
	padding: 4px;
	margin: auto;
	transform: translate(0, 200px);
	
	
}

#form .buttonl, #form .buttonr {
	
	height: 36px;
	width: 140px;  
	border: 1px solid #f0f0f0;
	background-color: #f0f0f0;
	border-radius: 2px;
	color: #777;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
}

#form .buttonl, .fl{
	float: left; 
}
#form .buttonr, .fr, nav a{
	float: right; 
}


nav, footer{
	height:25px;
	padding: 10px 10px; 
}


footer {
	background-color: #f8f8f8;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	}
